.margin
.border
.padding


h1 {color: red; background-color:yellow; font: Tahoma 2em;}

h2 {color: red; background-color:yellow; font: Tahoma 2em;}





.fon { 
    

    background-image: url(img/img3.jpg);
    
    
    
}